In [1]:
import os
import pandas as pd
import re

In [2]:
os.chdir('C:\\Users\\mahes\\Downloads')

In [3]:
df=pd.read_csv('sentimentdataset.csv',encoding='ISO-8859-1')

In [4]:
df.columns

Index(['Unnamed: 0', 'Text', 'Sentiment', 'Timestamp', 'User', 'Platform',
       'Hashtags', 'Retweets', 'Likes', 'Country', 'Year', 'Month', 'Day',
       'Hour', 'Clean_Text', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')

In [5]:
df.head(2)

,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Clean_Text,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,0,Enjoying a beautiful day at the park! ...,Positive,15-01-2023 12:30,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12,enjoying a beautiful day at the park! ...,enjoying a beautiful day at the park! ...,enjoying a beautiful day at the park ...,False,NaN,NaN
1,1,Traffic was terrible this morning. ...,Negative,15-01-2023 08:45,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8,traffic was terrible this morning. ...,traffic was terrible this morning. ...,traffic was terrible this morning ...,False,NaN,NaN

In [11]:
df.drop(['Clean_Text', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17','Unnamed: 18', 'Unnamed: 19'],axis=1,inplace=True)

In [13]:
df.head(2)

,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,Enjoying a beautiful day at the park! ...,Positive,15-01-2023 12:30,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12
1,1,Traffic was terrible this morning. ...,Negative,15-01-2023 08:45,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8

In [67]:
pip install textblob tweepy

Collecting textblobNote: you may need to restart the kernel to use updated packages.

  Downloading textblob-0.19.0-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: tweepy in c:\users\mahes\anaconda3\lib\site-packages (4.15.0)
Collecting nltk>=3.9 (from textblob)
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: oauthlib<4,>=3.2.0 in c:\users\mahes\anaconda3\lib\site-packages (from tweepy) (3.2.2)
Requirement already satisfied: requests<3,>=2.27.0 in c:\users\mahes\anaconda3\lib\site-packages (from tweepy) (2.32.2)
Requirement already satisfied: requests-oauthlib<3,>=1.2.0 in c:\users\mahes\anaconda3\lib\site-packages (from tweepy) (2.0.0)
Requirement already satisfied: click in c:\users\mahes\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\mahes\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\mahes\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\mahes\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.66.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mahes\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mahes\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mahes\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mahes\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2024.8.30)
Requirement already satisfied: colorama in c:\users\mahes\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
    --------------------------------------- 10.2/624.3 kB ? eta -:--:--
    --------------------------------------- 10.2/624.3 kB ? eta -:--:--
   - ------------------------------------- 30.7/624.3 kB 262.6 kB/s eta 0:00:03
   -- ------------------------------------ 41.0/624.3 kB 281.8 kB/s eta 0:00:03
   ------ ------------------------------- 112.6/624.3 kB 547.6 kB/s eta 0:00:01
   --------------- ------------------------ 235.5/624.3 kB 1.0 MB/s eta 0:00:01
   ------------------------------ --------- 481.3/624.3 kB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 624.3/624.3 kB 1.9 MB/s eta 0:00:00
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---------- ----------------------------- 0.4/1.5 MB 12.9 MB/s eta 0:00:01
   -------------- ------------------------- 0.5/1.5 MB 11.1 MB/s eta 0:00:01
   -------------- ------------------------- 0.5/1.5 MB 11.1 MB/s eta 0:00:01
   ------------------------------ --------- 1.1/1.5 MB 6.5 MB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.5 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------  1.5/1.5 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 5.0 MB/s eta 0:00:00
Installing collected packages: nltk, textblob
  Attempting uninstall: nltk
    Found existing installation: nltk 3.8.1
    Uninstalling nltk-3.8.1:
      Successfully uninstalled nltk-3.8.1
Successfully installed nltk-3.9.1 textblob-0.19.0

In [71]:
import tweepy
from textblob import TextBlob

In [87]:
#Twitter API credentails
consumer_key='pIFDEpbs3kfe1K0HO63OhxppJ'
consumer_secret= 't4bHbloZlEBaZc8m0UCKaVJ8wVbxbPOhyXmeCQuoDqNFYrji8v'
access_token= '1397237266557247489-d6nomZRj2J1C2vhiGqhlGnmPYI0iDT'
access_token_secret= 'S7H4Ef6FZau1qO6XPKt1h99oAOYDbJ8eOB3LJcsCtVg6V'

In [89]:
#Authentication with the X API using V2
client  = tweepy.Client(consumer_key=consumer_key,consumer_secret=consumer_secret,access_token=access_token,access_token_secret=access_token_secret)

In [97]:
query = "AI Innovations -is:retweet lagen:e"
max_results = 100

In [ ]:
tweets = client.search_recent_tweets(query=query, max_results=max_results, tweet_fi)

In [91]:
#Authentication
auth = tweepy.OAuth1UserHandler(consumer_key,consumer_secret,access_token,access_token_secret)
api = tweepy.API(auth)

In [93]:
#Collect tweets
query = 'IPL2024'
tweets = tweepy.Cursor(api.search_tweets,q=query, lang='en', tweet_mode='extended').items(1000)

In [ ]:
#Store tweets in a list
tweets_data = [tweet.full_text for tweet in tweets]

In [17]:
#Clean Text Data
def Clean_data(Text):
    Text = re.sub(r"http\s+","",str(Text))
    Text = re.sub(r"@\W+","",Text)
    Text = re.sub(r"#","",Text)
    Text = re.sub(r"[^A-Za-z\s]","",Text)
    return Text.lower()

In [42]:
tweets

In [19]:
df['Clean_Text']=df['Text'].apply(Clean_data)

In [21]:
df.head(2)

,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Clean_Text
0,0,Enjoying a beautiful day at the park! ...,Positive,15-01-2023 12:30,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12,enjoying a beautiful day at the park ...
1,1,Traffic was terrible this morning. ...,Negative,15-01-2023 08:45,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8,traffic was terrible this morning ...

In [29]:
if "Timestamp" in df.columns:
    df["Timestamp"] = pd.to_datetime(df["Timestamp"],format='%d-%m-%Y')
    df["date"] = df["Timestamp"].dt.date

In [104]:
df.to_csv(r"C:\Users\mahes\OneDrive\FutureIntern/output.csv")