In [3]:
import os
import pandas as pd
import re

In [5]:
os.chdir('C:\\Users\\mahes\\Downloads')

In [7]:
df=pd.read_csv('sentimentdataset.csv',encoding='ISO-8859-1')

In [9]:
df.columns

Index(['Unnamed: 0', 'Text', 'Sentiment', 'Timestamp', 'User', 'Platform',
       'Hashtags', 'Retweets', 'Likes', 'Country', 'Year', 'Month', 'Day',
       'Hour', 'Clean_Text', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')

In [11]:
df.head(2)

,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Clean_Text,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,0,Enjoying a beautiful day at the park! ...,Positive,15-01-2023 12:30,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12,enjoying a beautiful day at the park! ...,enjoying a beautiful day at the park! ...,enjoying a beautiful day at the park ...,False,NaN,NaN
1,1,Traffic was terrible this morning. ...,Negative,15-01-2023 08:45,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8,traffic was terrible this morning. ...,traffic was terrible this morning. ...,traffic was terrible this morning ...,False,NaN,NaN

In [13]:
df.drop(['Clean_Text', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17','Unnamed: 18', 'Unnamed: 19'],axis=1,inplace=True)

In [15]:
df.head(2)

,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,Enjoying a beautiful day at the park! ...,Positive,15-01-2023 12:30,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12
1,1,Traffic was terrible this morning. ...,Negative,15-01-2023 08:45,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8

In [17]:
#Clean Text Data
def Clean_data(Text):
    Text = re.sub(r"http\s+","",str(Text))
    Text = re.sub(r"@\W+","",Text)
    Text = re.sub(r"#","",Text)
    Text = re.sub(r"[^A-Za-z\s]","",Text)
    return Text.lower()

In [19]:
df['Clean_Text']=df['Text'].apply(Clean_data)

In [21]:
df.head(2)

,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Clean_Text
0,0,Enjoying a beautiful day at the park! ...,Positive,15-01-2023 12:30,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12,enjoying a beautiful day at the park ...
1,1,Traffic was terrible this morning. ...,Negative,15-01-2023 08:45,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8,traffic was terrible this morning ...

In [29]:
if "Timestamp" in df.columns:
    df["Timestamp"] = pd.to_datetime(df["Timestamp"],format='%d-%m-%Y')
    df["date"] = df["Timestamp"].dt.date

In [25]:
df.to_csv(r'C:\\Users\\mahes\\OneDrive\\FutureIntern\\output.csv')