In [136]:
import os
import pandas as pd
import re

In [138]:
os.chdir('C:\\Users\\mahes\\Downloads')

In [140]:
df=pd.read_csv('sentimentdataset.csv',encoding='ISO-8859-1')

In [142]:
df.columns

Index(['Unnamed: 0', 'Text', 'Sentiment', 'Timestamp', 'User', 'Platform',
       'Hashtags', 'Retweets', 'Likes', 'Country', 'Year', 'Month', 'Day',
       'Hour', 'Clean_Text', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')

In [144]:
df.head(2)

,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Clean_Text,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,0,Enjoying a beautiful day at the park! ...,Positive,15-01-2023 12:30,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12,enjoying a beautiful day at the park! ...,enjoying a beautiful day at the park! ...,enjoying a beautiful day at the park ...,False,NaN,NaN
1,1,Traffic was terrible this morning. ...,Negative,15-01-2023 08:45,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8,traffic was terrible this morning. ...,traffic was terrible this morning. ...,traffic was terrible this morning ...,False,NaN,NaN

In [146]:
df.drop(['Clean_Text', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17','Unnamed: 18', 'Unnamed: 19'],axis=1,inplace=True)

In [148]:
df.head(2)

,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,Enjoying a beautiful day at the park! ...,Positive,15-01-2023 12:30,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12
1,1,Traffic was terrible this morning. ...,Negative,15-01-2023 08:45,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8

In [150]:
#Clean Text Data
def Clean_data(Text):
    Text = re.sub(r"http\s+","",str(Text))
    Text = re.sub(r"@\W+","",Text)
    Text = re.sub(r"#","",Text)
    Text = re.sub(r"[^A-Za-z\s]","",Text)
    return Text.lower()

In [152]:
df['Clean_Text']=df['Text'].apply(Clean_data)

In [154]:
df.head(2)

,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Clean_Text
0,0,Enjoying a beautiful day at the park! ...,Positive,15-01-2023 12:30,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12,enjoying a beautiful day at the park ...
1,1,Traffic was terrible this morning. ...,Negative,15-01-2023 08:45,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8,traffic was terrible this morning ...

In [163]:
if "Timestamp" in df.columns:
    df["Timestamp"] = pd.to_datetime(df["Timestamp"])
    df["date"] = df["Timestamp"].dt.date

C:\Users\mahes\AppData\Local\Temp\ipykernel_14812\1126934922.py:2: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Timestamp"] = pd.to_datetime(df["Timestamp"])

In [170]:
df.to_csv(r'C:\\Users\\mahes\\OneDrive\\FutureIntern\\output.csv')

PermissionError: [Errno 13] Permission denied: 'C:\\\\Users\\\\mahes\\\\OneDrive\\\\FutureIntern\\\\output.csv'

In [168]:
df['date']

0      2023-01-15
1      2023-01-15
2      2023-01-15
3      2023-01-15
4      2023-01-15
          ...
727    2017-08-18
728    2018-06-22
729    2019-04-05
730    2020-02-29
731    2020-11-15
Name: date, Length: 732, dtype: object